.giving-back h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(19, 19, 134);
    font-size: 40px;
}
.card p{
    font-size: 18px;
    color: blue;
}
.card h2{
    font-size: 25px;
    color: blue;
}
.card-container {
    margin-top: 50px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: center;
    padding: 50px;
}
.giving-back{
    background-color:rgb(185, 185, 236);
}
.read-more{
    display:grid;
    font-size: 100px;
    border: none;
    font-size: 20px;
    background-color:rgb(5, 4, 63);
    color: white;
    min-height: 50px;
}
