.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    width:600px;
}

.login-form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

.login-group {
    margin-bottom: 15px;
}

.login-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.login-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
}

.login-group input:focus {
    border-color: #03173a;
}

.login-password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.login-password-container input {
    flex: 1;
    padding-right: 70px;
}

.login-show-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color:#03173a;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #03173a;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.login-button:hover {
    background: #1a5edb;
}

.login-extra {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-extra a {
    color:#03173a;
    font-weight: 600;
    text-decoration: none;
}

.login-extra a:hover {
    text-decoration: underline;
}
